      <script type="application/ld+json">
      {
         "@context": "http://schema.org/",
         "@type": "Article",
         "name": "{{ article.title|striptags|escape }}",
         "headline": "{{ article.title|striptags|escape }}",
         "datePublished": "{{ article.date.isoformat() }}",
         {% if article.modified %}
         "dateModified": "{{ article.modified.isoformat() }}",
         {% else %}
         "dateModified": "{{ article.date.isoformat() }}",
         {% endif %}
         "author": {
            "@type": "Person",
            "name": "{{ AUTHOR }}",
            "url": "{{ SITEURL }}/{{ AUTHOR_WEBSITE }}"
         },
         "publisher": {
            "@type": "Organization",
            "name": "{{ SITENAME|striptags|escape }}",
            "logo": "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/gfx/{{ SITELOGO }}"
         },
         "image": "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/gfx/default_article.jpg",
         "url": "{{ SITEURL }}/{{ article.url }}",
         {% if article.summary %}
         "description": "{{ article.summary|striptags|escape }}",
         {% endif %}
         {% if article.tags %}
         "keywords": "{% for tag in article.tags %}{{ tag.name|escape }}{{ ", " if not loop.last }}{% endfor %}",
         {% endif %}
         "mainEntityOfPage": "{{ SITEURL }}/{{ article.url }}"
      }
      </script>
