{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}
{% set body_class = "single" %}
{% block meta %}
{% include "opengraph.html" %}
{% include "twittercard.html" %}
{% endblock %}
{% block content %}
	{% if article %}
		{% if article.category.name == "text" %}
			{% include 'post-text.html' %}
         {% else %}		
			{% include 'post.html' %}
		{% endif %}
	{% endif %}
	<footer>
{% include 'neighbors.html' %}
	</footer>
{% endblock %}
