{% extends 'base.html' %}

{% block title %}{{ SITENAME }}{% endblock %}

{% set body_class = "index" %}

{% block meta %}
{{ super() }}
{% endblock %}

{% block site_header %}
            <div class="masthead">
               <div class="logo">
                  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/gfx/falls.gif" alt="A decorative image of Snoqualmie Falls" />
               </div>
               <h1 class="site-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
               <h2 class="site-description">{{ SITEDESCRIPTION }}</h2>
            </div>
            {% include "snippets/site-navigation.html" %}
{% endblock %}
{% block content %}
            {% if DEFAULT_PAGINATION and articles_page.number > 1 %}
            <header>
               <h3>Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</h3>
            </header>
            {% endif %}
            {% if articles %}
            <section class="posts">
               {% for article in articles_page.object_list %}
                  {% include 'post.html' %}
               {% endfor %}
            </section>
            <footer>
               <nav>
                  <a href="/archives"><span class="oi" data-glyph="chevron-left" title="chevron-left" aria-hidden="true"></span> Read older posts in the archives</a>
                  <a href="#top"><span class="oi" data-glyph="chevron-top" title="chevron-top" aria-hidden="true"></span> Return to the top of the page</a>
               </nav>
            </footer>
            {% endif %}
{% endblock %}
