{% extends 'base.html' %}
{% block title %}{{ SITENAME }}{% endblock %}
{% set body_class = "index" %}
{% block site_header %}
            <div class="masthead">
               <div class="logo">
                  <img src="{{ SITEURL }}/assets/gfx/falls.gif" alt="[ {{ SITENAME }} ]" />
               </div>
               <h1 class="site-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
               <h2 class="site-description">{{ SITESUBTITLE }}</h2>
            </div>
            <nav class="site-navigation">
               <ul>
               {% for title, link in MENUITEMS %}
                  <li><a href="{{ link }}">{{ title }}</a></li>
               {% endfor %}
               </ul>
            </nav>
{% endblock %}
{% block content %}
            {% if articles %}
            <section class="posts">
               {% for article in articles_page.object_list %}
                  {% include 'post.html' %}
               {% endfor %}
            </section>
            <footer >
               {% include 'pagination.html' %}
            </footer>
            {% endif %}
{% endblock %}
