{% if DEFAULT_PAGINATION %}
    {% if articles_paginator.num_pages > 1 %}
<nav class='paginator'>
    <ul>
        {% if articles_page.has_previous() %}
        <li><a href='{{ SITEURL }}/{{ articles_previous_page.url }}'>Newer</a></li>
            {% else %}
        <li class='disabled'><a>Newer</a></li>
        {% endif %}

        {% set is_previous_ellipsis = [] %}
        {% for num in range(1, articles_paginator.num_pages + 1) %}
            {% if num in [1, 2, articles_page.number - 1, articles_page.number, articles_page.number + 1, articles_paginator.num_pages - 1, articles_paginator.num_pages] %}
                {% set is_current_page = (num == articles_page.number) %}
        <li class='{{ "current" if is_current_page else "" }}'>
            <a href='{{ SITEURL }}{{ "/page/" if num > 1 else "" }}{{ num if num > 1 else "" }}'>{{ num }}</a>
        </li>
            {% else %}
                {% if is_previous_ellipsis|length == 0 %}
        <li class='ellipsis'><a>&hellip;</a></li>
                    {% if is_previous_ellipsis.append(1) %}{% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if articles_page.has_next() %}
        <li><a href='{{ SITEURL }}/{{ articles_next_page.url }}'>Older</a></li>
            {% else %}
        <li class='disabled'><a>Older</a></li>
        {% endif %}
    </ul>
</nav>
    {% endif %}
{% endif %}
