         {{ "<hr />" if body_class == "index" }}
         <article class="post post-article" id="{{ article.date.strftime('%j%H%M') }}" role="article">
            <header>
               <h3 class="post-title">{{ article.title }}</h3>
               <div class="post-metadata"><a rel="bookmark" href="{{ SITEURL }}/{{ article.url }}">{{ article.date.strftime('%B %-d %Y') }}</a></div>
            </header>
            <section class="post-content text">
            {% if article.photo %}
               <figure>
                  <img src="{{ SITEURL }}/{{ article.photo }}" />
               </figure>
            {% endif %}
            {% if article.warning %}   
               <section class="summary">
                  {{ article.warning }}
               </section>
            {% endif %}
               {{ article.content if body_class != "index" }}
            </section>
            <footer>
               <ul class="post-metadata">
            {% if article.warning and body_class != "single" %}
                  <li><a href="{{ SITEURL }}/{{ article.url }}">Continue reading article &hellip;</a></li>
            {% else %}
               {% if article.content|length > 1800 %}
                  <li class="return"><a href="#{{ article.date.strftime('%j%H%M') }}">↥ Return to top of article</a></li>
               {% endif %}
            {% endif %}
               </ul>
            </footer>
         </article>
         {{ "<hr />" if body_class == "index" }}