{% extends "index.html" %}
{% block title %}{{ SITENAME }} - Sitemap{% endblock %}
{% block content %}
            <header>
                <h3>Sitemap</h2>
            </header>

            <section class='text'>
                <header>
                    <h3>Pages</h3>
                </header>
                <ul>
    {% for page in pages|sort(attribute='title') %}
                    <li><a href='{{ SITEURL }}/{{ page.url }}'>{{ page.title }}</a></li>
    {% endfor %}
                </ul>
            </section>
            <hr />
            <section class='text'>
                <header>
                    <h3>Writing</h3>
                </header>
                <ul>
    {% for article in articles|selectattr('category.name', 'equalto', 'text') %}
                    <li><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></li>
    {% endfor %}
                </ul>
            </section>
            <hr />
            <section class='text'>
                <header>
                    <h3>Links</h3>
                </header>
                <ul>
    {% for article in articles|selectattr('category.name', 'equalto', 'linklist') %}
                    <li><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></li>
    {% endfor %}
                </ul>
            </section>
{% endblock %}
